<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Lista de compras</h2>

    <form action="{{url_for('recebeitens')}}" method="post">
        <input type="checkbox" name="item" value="Arroz">Arroz<br>
        <input type="checkbox" name="item" value="Feijão">Feijão<br>
        <input type="checkbox" name="item" value="Carne">Carne<br>
        <input type="checkbox" name="item" value="Frango">Frango<br>
        <input type="checkbox" name="item" value="Peixe">Peixe<br>
        <input type="checkbox" name="item" value="Farinha">Farinha<br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>